<% include ./partial/header %>

<% include ./partial/nav %>

<div class="container">
  <ul id="filter">
    <li class="current"><a href="#" data-index="students">Attendess (Middle School/High School Students)</a></li>
    <li><a href="#" data-index="college">Attendees (College Students)</a></li>
    <li><a href="#" data-index="attendees">Mentor/Vounteer</a></li>
</ul>

<ul id="forms">
    <li class="students"> <% include ./forms/students %> </li>
    <li class="college"> <% include ./forms/college %> </li>
    <li class="attendees"> <% include ./forms/attendees %> </li>
</ul>




   <br>
        <footer class="footerInfo">
          <p>© HackVersity 2018 / New York, NY / hackversity404@gmail.com</p>
        </footer>
  <br>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- jQuery CDN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write('<script src="/local/jquery.min.js"><\/script>')</script>
  <!-- Bootstrap JS CDN -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


  <script type="text/javascript">
        $(document).ready(function(){
          $("#filter a").click(function(){
            $("#filter .current").removeClass("current");
            $(this).parent().addClass("current");
            var filterVal = $(this).data('index');
            $("#forms li").fadeIn();
            $("#forms li:not(."+ filterVal+")").hide();
      });
    });
  </script>

  </body>

</html>
