<!doctype html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

   <link rel="stylesheet" href="css/style.css">
    <title>HackVersity</title>
  </head>
  
   <body>
  
  <nav class="navbar  bg-dark justify-content-end" >
    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link " href="#infoHackVersity" style="color: white";>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#sponsorList" style="color: white">Sponsors</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white">Register</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#firstForm">Atendee (Middle/HS Students)</a>
          <a class="dropdown-item" href="#secondForm">Atendee (College Students)</a>
          <a class="dropdown-item" href="#thirdForm">Mentor/Volunteer</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq" style="color: white">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#contact" style="color: white">Contact</a>
      </li>
    </ul>
    </nav>

   
    <section id="cover">
        <img class="mlh" src="img/logo.png" alt="">
    </section>
        
        
        <div class="wrapper"> 
        
            <div class="cover2">
        <img class="hv" src="img/logoHV.png" alt="">
    </div>    
    
    <h4>HackVersity</h4>
    
    <div>            
        <h3>FEB. 23RD (8PM) - FEB. 25TH (2PM) 2018 @ QUEENS COLLEGE, CUNY</h3> </div> 
        
        <a href="#registrationForms" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="background-color:black">Register</a>
        
        

       </div>
    <br>
    <br>
    
   <!-- ABOUT -->
   <section id="infoHackVersity">
       <br>
       <h1>ABOUT</h1>
       <h2>What is HackVersity?</h2>
       
       <div class="aboutHackVersity">
          <h3>Hackversity is a 24 hour hackathon that aims to give people in our community <br>a space where they can unleash their creative power to improve the lives of <br>people around them while promoting diversity and inclusion.</h3>
       </div>
       
       <br>
       <br>
       
   </section>
   
   <section id="sponsorList">
       <h1>SPONSORS</h1>
   </section>
   
   <!-- First Form -->
   
   <section id="mhRegistrationForms">
       <h1>Registration</h1>
       
       <div>
       <h4 id="participant">Attendees (Middle School/High School Students)</h4>
       <h6 id="firstForm">Please complete this registration form if you are an attendee:</h6>
       
       
       <div class="container">
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First Name</label>
								<input type="text" placeholder="First Name" class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input type="text" placeholder="Last Name " class="form-control">
							</div>
						</div>					
						<div class="form-group">
							<label>Email Address</label>
							<textarea type="email" placeholder="Email Address" class="form-control"></textarea>
						</div>	
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Phone Number</label>
								<input type="text" placeholder="Phone Number" class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Shirt Size</label>
								<select name="" id="">
								    <option value="small">S</option>
								    <option value="medium">M</option>
								    <option value="large">L</option>
								    <option value="xLarge">XL</option>
								</select>
							</div>	
							<div class="col-sm-4 form-group">
								<label>DOB</label>
								<input type="text" placeholder="Date of Birth" class="form-control">
							</div>		
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>School</label>
								<input type="text" placeholder="School" class="form-control">
							</div>		
							<div class="col-sm-6 form-group">
								<label>School Year</label>
								<input type="text" placeholder="School Year" class="form-control">
							</div>	
						</div>
				    <div class="form-group">
						<label>Gender/Sexuality(NOTE: Include other/non-binary)</label>
						<input type="text" placeholder="Gender/Sexuality" class="form-control">
					</div>						
					<div class="form-group">
						<label>Dietry Restriciton</label>
						<input type="text" placeholder="Dietry Restriction" class="form-control">
					</div>		
					<div class="form-group">
						<label>Guardian Name</label>
						<input type="text" placeholder="Guardian Name" class="form-control">
					</div>	
					<div class="form-group">
						<label>Guardian Email</label>
						<input type="text" placeholder="Guardian Email" class="form-control">
					</div>
				    <div class="form-group">
						<label>Guardian Phone Number</label>
						<input type="text" placeholder="Guardian Phone Number" class="form-control">
					</div>
					<button type="button" class="btn btn-lg btn-info" style="background-color:black">Submit</button>					
					</div>
				</form> 
				</div>
	</div>
	</div>
              </div>
           </section>                       
   <br>
   <br>
                            
                                   
   <!-- Second Form -->
   
   <section id="registrationForms">
       <h1>Registration</h1>
       
       <div>
       <h4 id="participant">Attendees (College Students)</h4>
       <h6 id="secondForm">Please complete this registration form if you are an attendee:</h6>
       
       
       <div class="container">
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First Name</label>
								<input type="text" placeholder="First Name" class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input type="text" placeholder="Last Name " class="form-control">
							</div>
						</div>					
						<div class="form-group">
							<label>Email Address</label>
							<textarea type="email" placeholder="Email Address" class="form-control"></textarea>
						</div>	
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Phone Number</label>
								<input type="text" placeholder="Phone Number" class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Shirt Size</label>
								<select name="" id="">
								    <option value="small">S</option>
								    <option value="medium">M</option>
								    <option value="large">L</option>
								    <option value="xLarge">XL</option>
								</select>
							</div>	
							<div class="col-sm-4 form-group">
								<label>Major</label>
								<input type="text" placeholder="Major" class="form-control">
							</div>		
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>School</label>
								<input type="text" placeholder="School" class="form-control">
							</div>		
							<div class="col-sm-6 form-group">
								<label>School Year</label>
								<input type="text" placeholder="School Year" class="form-control">
							</div>	
						</div>
				    <div class="form-group">
						<label>Gender/Sexuality(NOTE: Include other/non-binary)</label>
						<input type="text" placeholder="Gender/Sexuality" class="form-control">
					</div>						
					<div class="form-group">
						<label>Dietry Restriciton</label>
						<input type="text" placeholder="Dietry Restriction" class="form-control">
					</div>		

                 <div>
                  <button type="button" class="btn btn-lg btn-info" style="background-color:black">Browse Resume<input type="file" style= "display: none"></button>
                  <p><br></p>
                  </div>
                
					<button type="button" class="btn btn-lg btn-info" style="background-color:black">Submit</button>					
					</div>
				</form> 
				</div>
	</div>
	</div>
              </div>
           </section> 
           
   <!-- Third Form -->
   
   <section id="registrationForms">
       <h1>Registration</h1>
       
       <div>
       <h4 id="participant">Mentor/Volunteer</h4>
       <h6 id="thirdForm">Please complete this registration form if you are a Volunteer/Mentor:</h6>
       
       
       <div class="container">
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First Name</label>
								<input type="text" placeholder="First Name" class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input type="text" placeholder="Last Name " class="form-control">
							</div>
						</div>					
						<div class="form-group">
							<label>Email Address</label>
							<textarea type="email" placeholder="Email Address" class="form-control"></textarea>
						</div>	
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Phone Number</label>
								<input type="text" placeholder="Phone Number" class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Shirt Size</label>
								<select name="" id="">
								    <option value="small">S</option>
								    <option value="medium">M</option>
								    <option value="large">L</option>
								    <option value="xLarge">XL</option>
								</select>
							</div>	
							<div class="col-sm-4 form-group">
								<label>DOB</label>
								<input type="text" placeholder="Date of Birth" class="form-control">
							</div>		
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>School</label>
								<input type="text" placeholder="School" class="form-control">
							</div>		
							<div class="col-sm-6 form-group">
								<label>School Year</label>
								<input type="text" placeholder="School Year" class="form-control">
							</div>	
						</div>
				    <div class="form-group">
						<label>Gender/Sexuality(NOTE: Include other/non-binary)</label>
						<input type="text" placeholder="Gender/Sexuality" class="form-control">
					</div>						
					<div class="form-group">
						<label>Dietry Restriciton</label>
						<input type="text" placeholder="Dietry Restriction" class="form-control">
					</div>		
     <div class="row">
							<div class="col-sm-6 form-group">
								<label>Title</label>
								<input type="text" placeholder="Title" class="form-control">
							</div>		
							<div class="col-sm-6 form-group">
								<label>Company</label>
								<input type="text" placeholder="Company" class="form-control">
							</div>	
						</div>
                            
                 			<div class="form-group">
							<label>BIO</label>
							<textarea type="text" placeholder="Brief Bio..." rows="3" class="form-control"></textarea>
						</div>
                 	</div>
                 			<div class="form-group">
							<label>Availability</label>
							<textarea type="text" placeholder="Availability" rows="3" class="form-control"></textarea>
						</div>
                
                <div class="col-sm-6 form-group">
								
							  <input type="radio" name="mentor" value="female"> Mentor<br>
  <input type="radio" name="gender" value="volunteer"> Volunteer
							
							</div>	
                
					<button type="button" class="btn btn-lg btn-info" style="background-color:black">Submit</button>					
					</div>
				</form> 
				</div>
	</div>
	</div>
              </div>
           </section>                                                                                                                                              
   <br><br><br><br>
   
   <section id="faq">
      <br>
       <h1>FAQ</h1>
       <br>
       
       <div id="questions">
           
        <div class="dropdown">
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">What is a hackathon?
          <span class="caret" ></span></button>
          <p class="dropdown-menu">
            Typically a 24 hour long event where you work on a team to develop an idea and create a working prototype from scratch. <br>
            Hacking in this connotation means creative problem solving. It’s a fun and welcoming atmosphere with opportunities.You don’t <br>
            have to be a programmer and you certainly don’t have to be majoring in Computer Science.
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">What if I don’t have a team?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            That’s alright to come in without a team, you will have a chance to meet fellow hackers and form teams at the event.
          </p>
          
          <br><br><br>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">What are the rules?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            Refer to <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Major League Hacking’s Code of Conduct </a>
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">What should I bring?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            A laptop and charger, you could also bring your sleeping bag and a change of clothes to make yourself comfortable.
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">What will I make?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            It’s really up to you! A website, an app, a game, robotics, anything you can think of really.
          </p>
          
          <br><br><br>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">How big should the teams be?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            The recommended team size is 4 people.
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">Will I get a travel reimbursement?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            We are working on it, however we cannot guarantee to provide you with travel reimbursement.
          </p>
          
          <br><br><br>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">Who can attend?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            This is open to any students in the US. You don’t have to be a computer science student, you don’t even have to know how to code.
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">How much does it cost?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            Absolutely nothing to the hacker. We got you covered.
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">Who owns my project?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
            You and your team do! We, and the sponsors don’t claim any rights to your project. You are free to do whatever you like with it. 
          </p>
          <br><br>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">Can I start before I arrive?
          <span class="caret"></span></button>
          <p class="dropdown-menu">
          No, while you can start thinking of ideas beforehand, you can not write a single line of code before hacking officially begins on the day of the event. 
          </p>
          
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:black">I’d like to help out!
          <span class="caret"></span></button>
          <p class="dropdown-menu">
           We would love to have you on our team! Please fill out this form <a href="#secondForm">click here!</a>
              </p>  
          
          <br><br>
          
        </div>
       </div>
       
   </section>
   
   <section id="contact">
      <br>
       <h1>CONTACT US</h1>
       
       <br>
      <h4>Reach out to us at hackversity404@gmail.com</h4>
      
      <div id="socialMedia">
          <a href="https://www.facebook.com/Hackversity404/"><img class="socialMediaImages" src="img/facebook.png" alt=""></a>
          <a href="https://www.instagram.com/hackversity404/"><img class="socialMediaImages" src="img/instagram.png" alt=""></a>
          <a href="https://twitter.com/hackversity404"><img class="socialMediaImages" src="img/twitter.png" alt=""></a>
      </div>
      
      
   </section>
   
   <br>
        <footer class="footerInfo">
          <p>© HackVersity 2018 / New York, NY / hackversity404@gmail.com</p>
        </footer>
  <br>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
  
</html>