#filter {
    list-style-type: none;
    margin-bottom: 70px;
    text-align: center;
}
#filter li{
    /* float:left; */
    display: inline;
    font-size: 17px;
    border-right: 2px solid gray;
    padding-right: 10px;
}
#filter li:last-child {
    border-right: none;
}
#filter li a {
    color: gray;
    text-decoration: none;
}

#filter li.current a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
#filter li a:hover {
    color: red;
}

#forms {
  list-style-type: none;
  text-align: center;
}


/* jquery function for dispalying forms */
.college{display:none;}
.attendees{display:none;}


.jumbotron {
  background-image: url(../img/logoHV.png);
  background-repeat: no-repeat;
  background-size: 720px;
  background-color: #D81828!important;
  background-position: center;
  background-color: rgb(220,48,62);
  min-height: 750px;
  margin-bottom: 0px!important;
  padding-bottom: none;
}

.about {
  text-align: center
}

/* forms  */
