
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" name="button">&times;</button>
</div>
<!-- body -->
<div class="container">

<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">

  <!-- form -->
<div class="form HighSchoolStudents">

      <!-- email -->
      <div class="form-group">
        <input class="form-control" type="emal" name="Studentsemail" value="" placeholder="Email">
      </div>

      <!-- first name -->
      <div class="form-group">
        <input class="form-control" type="text" name="StudentsFirstName" value=""  placeholder="First Name">
      </div>
      <!-- last name -->
      <div class="form-group">
        <input class="form-control" type="text" name="StudentsLastName" value=""  placeholder="Last Name">
      </div>
      <!-- Phone number -->
      <div class="form-group">
        <input class="form-control" type="tel" name="StudentsPhoneNumber" value=""  placeholder="Phone Number">
      </div>
      <!-- DOB -->
      <div class="form-group">
        <input class="form-control" type="date" name="StudentsDOB" value=""  placeholder="Date Of Birth">
      </div>
      <!-- school -->
      <div class="form-group">
        <input class="form-control" type="text" name="StudentsSchool" value=""  placeholder="School">
      </div>
      <!-- school year -->
      <div class="form-group">
        <input class="form-control" type="text" name="StudentsYear" value=""  placeholder="School Year">
      </div>
      <!-- Gender -->
      <div class="form-group">
        <input class="form-control" type="text" name="StudentsGender" value=""  placeholder="Gender/Sexuality(NOTE: Include other/non-binary)">
      </div>
      <!-- Guardian Name -->
      <div class="form-group">
        <input class="form-control" type="tel" name="StudentsGuardianNumber" value=""  placeholder="Guardian Phone Number">
      </div>
      <!-- Guardian email -->
      <div class="form-group">
        <input class="form-control" type="email" name="StudentsGuardianEmail" value=""  placeholder="Guardian Email">
      </div>
      <!-- form HighSchoolStudents -->
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
    <!-- modal-body -->
  </div>
  <!-- container -->
</div>
